.navbar {
  margin: 0;
  padding: 20px;
  display: grid;
  background-color: rgb(255, 255, 255);
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
}

.navbar h2 {
  padding-top: 10px;
}

.navbar img {
  height: 60px;
  width: 280px;
}

.navbar-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-top: 10px;
  justify-self: right;
  background-color: rgb(255, 255, 255);
  
}

.narbar-links-item {
  list-style-type: none;
  background-color: rgb(255, 255, 255);
}

.narbar-links__text {
  text-decoration: none;
  color: rgb(55, 51, 51);
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}
