* {
  background-color: rgb(252, 252, 252);
}

.property_container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.properties {
  padding: 0.5rem;
}

.properties > .item {
  display: inline-block;
  width: 33.33%;
  padding: 0.5rem;
  box-sizing: border-box;
}
