* {
  margin: 0;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  padding: 15px 25px;
  font-size: 18px;
}

.sidebar h3 {
  color: rgb(117, 46, 68);
  padding-bottom: 5px;
}

.sidebar_city {
  padding-bottom: 50px;
}

.sidebar_city ul li a {
  color: rgb(70, 34, 42);
  text-decoration: none;
}

.sidebar_city ul {
  list-style-type: none;
  padding: 5px 0;
}

.sidebar_sort ul li a {
  color: rgb(70, 34, 42);
  text-decoration: none;
}

.sidebar_sort ul {
  list-style-type: none;
  padding: 5px 0;
}

.sidebar_sort ul li a {
  color: rgb(70, 34, 42);
  text-decoration: none;
}

.sidebar_sort ul {
  list-style-type: none;
  padding: 5px 0;
}
