* {
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; */
  padding-top: 15px;
  padding-left: 25px;
  font-size: 18px;
}

.search-box {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  position: relative;
}

.search-input {
  border-radius: 10px;
  background-color: rgb(254, 253, 253);
  width: 80%;
  height: 50%;
  font-size: 18px;
  padding: 8px 10px 8px 20px;
  border: rgb(166, 198, 221) solid;
  border-width: 2px;
  box-shadow: rgb(231, 226, 226) 1px 1px 2px 2px;
}

.search-input:hover {
  background-color: rgba(242, 246, 248, 0.774);
  box-shadow: rgb(241, 237, 237) 1px 1px 2px 2px;
}

.search-input:focus {
  outline: none;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  height: 57%;
  width: 30%;
  border-radius: 80%;
  cursor: pointer;
  border: none; 
  background-color: transparent;
  color:  rgb(157, 199, 230);
}

.icon-search {
  font-size: 20px;
  background-color: transparent;
}

.icon-search:hover {
  font-size: 21px;
  background-color: transparent;
}

.sidebar h3 {
  color: rgb(117, 46, 68);
  padding-bottom: 5px;
}

.sidebar_city {
  padding-bottom: 30px;
}

.sidebar_city ul li a {
  color: rgb(70, 34, 42);
  text-decoration: none;
}

.sidebar_city ul {
  list-style-type: none;
  padding: 5px 0;
}

.sidebar_sort ul li a {
  color: rgb(70, 34, 42);
  text-decoration: none;
}

.sidebar_sort ul {
  list-style-type: none;
  padding: 5px 0;
}

.sidebar_sort ul li a {
  color: rgb(70, 34, 42);
  text-decoration: none;
}

.sidebar_sort ul {
  list-style-type: none;
  padding: 5px 0;
}

.sidebar_city ul li a:hover {
  color: rgb(45, 146, 160);
}

.sidebar_sort ul li a:hover {
  color: rgb(45, 146, 160);
}