@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sofia+Sans:wght@200&family=Tajawal&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  background-color: #e9e2e2dd;
}
